#content .wrap {
    padding: 40px 0px 0px 0px;
}

#login {
    /*background: #c1faac;
    border: 1px dashed #85ca6c;
     */
    width: 255px;
    margin: auto;
    padding: 0px 15px;
    background-color: #F0F8FF;
    border: 1px solid #85ca6c;
    /*-moz-border-radius:5px 5px 5px 5px;*/ 
}

#login dl dt {
    color: #3b9805;
    padding: 7px 0px 3px 0px;
}

#login dl dd input {
    width: 250px;
}

#login .forget-submit {
    margin: 15px 0px 10px 0px;;
}

#login .forget-submit .float-left a {
    color: #1776bf;
    font-size: 10px;
}